/* Blues */
$blue-primary: hsl(233, 90%, 70%);
$blue-secondary: hsl(233, 30%, 50%);
$blue-tertiary: hsl(233, 70%, 50%);
$blue-four: hsl(233, 80%, 50%);
$blue-five: hsl(233, 90%, 50%);
$blue-six: hsl(233, 100%, 50%);
$blue-seven: hsl(233, 40%, 50%);
$blue-eight: hsl(233, 30%, 50%);
$blue-nine: hsl(233, 20%, 50%);
$blue-ten: hsl(233, 10%, 50%);

/* Greens */
$green-primary: hsl(145, 50%, 50%);
$green-secondary: hsl(145, 60%, 50%);
$green-tertiary: hsl(145, 70%, 50%);
$green-four: hsl(145, 80%, 50%);
$green-five: hsl(145, 90%, 50%);
$green-six: hsl(145, 100%, 50%);
$green-seven: hsl(145, 40%, 50%);
$green-eight: hsl(145, 30%, 50%);
$green-nine: hsl(145, 20%, 50%);
$green-ten: hsl(145, 10%, 50%);

/* Yellows */
$yellow-primary: hsl(53, 100%, 50%);
$yellow-secondary: hsl(53, 60%, 50%);
$yellow-tertiary: hsl(53, 70%, 50%);
$yellow-four: hsl(53, 80%, 50%);
$yellow-five: hsl(53, 90%, 50%);
$yellow-six: hsl(53, 40%, 50%);
$yellow-seven: hsl(53, 30%, 50%);
$yellow-eight: hsl(53, 20%, 50%);
$yellow-nine: hsl(53, 10%, 50%);

/* Misc */
$white: #fff;
$black: #000;
